{% extends 'base.html' %}
{% block content %}
<h1>Meeting</h1>
<table class='table'>
    <tr>
        <th>Title</th>
        <th>Date</th>
        <th>Time</th>
        <th>Location</th>
        <th>Agenda</th>
    </tr>
    {% for list in meeting_list %}
    <tr>
        <td>{{list.meetingtitle}}</td>
        <td>{{list.meetingdate}}</td>
        <td>{{list.meetingtime}}</td>
        <td>{{list.meetinglocation}}</td>>
        <td>{{list.meeetingagenda}}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}